.main{
    display: flex;
    justify-content: center;
}

body{
    background-color: rgb(246, 246, 246);
}

div.ball-foot{
    position: absolute;
    width: 80vw;
    height: 300px;
    overflow: hidden;
    background-color: white;
}

div.ball-foot img{
    width: 155px;
    height:150px;
    position: relative;
    animation: bounce 2s ease-out infinite;   
}

@keyframes bounce{
    0% { top: 158px; left: 0%; transform: rotate(0deg);}

    16.66%{top:0%;}
    24.93%{top:158px;}

    33.26%{top:10%;}
    41.77%{top:158px;}

    50%{top:20%;}
    58.23%{top:158px;}

    66.66%{top:30%;}
    74.93%{top:158px;}

    83.26%{top:40%;}
    91.77%{top:158px;}
    
    100% {transform: rotate(360deg); left: 100%; top: 158px;}
}